extends layout

append head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/story-navbar.css")

block content
  include story-navbar.pug

  .main__container
    .main__col1.col
      .main__col1-image(style=`background-image: url(${stories[0].imageSrc})`)
      .main__col1-info
        .author
          .picture
            img(src=`${stories[0].User.profilePic}` class="profile-pic")
          .name #{stories[0].User.firstName} #{stories[0].User.lastName}
        .title #{stories[0].title}
        .text #{stories[0].content.split(" ").splice(0, 25).join(" ")+"..."}

    .main__col2.col
      .main__col2-story
        .author
          .picture
            img(src=`${stories[1].User.profilePic}` class="profile-pic")
          .name #{stories[1].User.firstName} #{stories[1].User.lastName}
        .title #{stories[1].title}
        .text #{stories[1].content.split(" ").splice(0, 10).join(" ")+"..."}
      .main__col2-story-image-1.image(style=`background-image: url(${stories[1].imageSrc})`)
      .main__col2-story
        .author
          .picture
            img(src=`${stories[2].User.profilePic}` class="profile-pic")
          .name #{stories[2].User.firstName} #{stories[2].User.lastName}
        .title #{stories[2].title}
        .text #{stories[2].content.split(" ").splice(0, 10).join(" ")+"..."}
      .main__col2-story-image-2.image(style=`background-image: url(${stories[2].imageSrc})`)
      .main__col2-story 
        .author
          .picture
            img(src=`${stories[3].User.profilePic}` class="profile-pic")
          .name #{stories[3].User.firstName} #{stories[3].User.lastName}
        .title #{stories[3].title}
        .text #{stories[3].content.split(" ").splice(0, 10).join(" ")+"..."}
      .main__col2-story-image-3.image(style=`background-image: url(${stories[3].imageSrc})`)
      .main__col2-story
        .author
          .picture
            img(src=`${stories[4].User.profilePic}` class="profile-pic")
          .name #{stories[4].User.firstName} #{stories[4].User.lastName}
        .title #{stories[4].title}
        .text #{stories[4].content.split(" ").splice(0, 10).join(" ")+"..."}
      .main__col2-story-image-4.image(style=`background-image: url(${stories[4].imageSrc})`) 
    
    .main__col3.col

  .body__container

