extends layout.pug

include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/story-view.css")
  link(rel="stylesheet" href="/stylesheets/story-navbar.css")
  link(rel="stylesheet" href="/stylesheets/footer.css")
  script(type="text/javascript" src="/javascripts/display-comments.js")
  script(type="text/javascript" src="/javascripts/claps.js")

block content
  include story-navbar.pug
  .story__container
    .story__title= story.title
    .story__author
      img(id="profile-pic-story" src=`${story.User.profilePic}`)
      a(href=`/users/${story.userId}`)  #{story.User.firstName} #{story.User.lastName}
      if moment(currentDate).diff(story.createdAt, 'years') > 0
        p #{`${moment(currentDate).diff(story.createdAt, 'years')} years ago`}
      else if moment(currentDate).diff(story.createdAt, 'days') > 0
        p #{`${moment(currentDate).diff(story.createdAt, 'days')} days ago`}
      else if moment(currentDate).diff(story.createdAt, 'hours') > 0
        p #{`${moment(currentDate).diff(story.createdAt, 'hours')} hours ago`}
      else
        p #{`${moment(currentDate).diff(story.createdAt, 'minutes')} minutes ago`}
      //- TODO ADD HOW LONG IS THE READ
    .story__image(style=`background-image: url(${story.imageSrc})`)
    .story__content
        p= story.content
    .story__claps-comments
      if userClap
        img(id="clap-button" class=`${story.id} has-been-clapped` src="../images/clapped.png")
      else
        img(id="clap-button" class=`${story.id}` src="../images/unclapped.png")
      span(id="clap-count")=clapCount
      img(id="comment-button" src="../images/comment.png")
      span=comments.length
    +validationErrorSummary(errors)
    .form.hidden
      form(action=`/stories/${story.id}/comments` method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        .form__inputs
            .form__comment-div
              input(type="text" name="comment" placeholder="Your comment")
            .form__button
              button(type="submit") Post
    .comments__container.hidden
      each comment in comments
        .comments__info
          .comments__pic
            img(class="profile-pic" src=`${comment.User.profilePic}`)
          .comments__name
            a(href=`/users/${story.userId}`)  #{comment.User.firstName} #{comment.User.lastName}
            //- p(class="comments__timestamp") #{moment(comment.createdAt).format('LLLL')}
            if moment(currentDate).diff(comment.createdAt, 'years') > 0
              p #{`${moment(currentDate).diff(comment.createdAt, 'years')} years ago`}
            else if moment(currentDate).diff(comment.createdAt, 'days') > 0
              p #{`${moment(currentDate).diff(comment.createdAt, 'days')} days ago`}
            else if moment(currentDate).diff(comment.createdAt, 'hours') > 0
              p #{`${moment(currentDate).diff(comment.createdAt, 'hours')} hours ago`}
            else
              p #{`${moment(currentDate).diff(comment.createdAt, 'minutes')} minutes ago`}
          .comments__content
            p=comment.content
        br
  include footer.pug
