extends layout.pug

include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/story-view.css")
  script(type="text/javascript" src="/javascripts/display-comments.js")

block content
  include story-navbar.pug
  .story__container
    .story__title= story.title
    .story__author By #{user.firstName} #{user.lastName}
    .story__image(style=`background-image: url(${story.imageSrc})`)
    .story__content
        p= story.content
    .story__claps-comments
      img(src="../images/clap.png")
      span=3
      img(id="comment-button" src="../images/comment.png")
      span=comments.length
    +validationErrorSummary(errors)
    .form.hidden
      form(action=`/stories/${story.id}/comments` method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        .form__inputs
            .form__comment-div
              input(type="text" name="comment" placeholder="Your comment")
            .form__button
              button(type="submit") Post
    .comments__container.hidden
      each comment in comments
        .comments__info
          .comments__pic
            img(src=`${user.profilePic}`)
          .comments__name
            p #{user.firstName} #{user.lastName}
          .comments__content
            p=comment.content
        br
  .footer
    .footer__links
      a(href="https://github.com/rsdimatulac/Veni-Vidi-Voravi")
        i(class="fab fa-github" aria-hidden="true")
