extends layout.pug

include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/story-view.css")
  link(rel="stylesheet" href="/stylesheets/story-navbar.css")
  script(type="text/javascript" src="/javascripts/display-comments.js")
  script(type="text/javascript" src="/javascripts/claps.js")

block content
  include story-navbar.pug
  .story__container
    .story__title= story.title
    .story__author
      img(id="profile-pic-story" src=`${story.User.profilePic}`)
      a(href=`/users/${story.userId}`)  #{story.User.firstName} #{story.User.lastName}
      p #{story.createdAt}
      //- TODO ADD HOW LONG IS THE READ
    .story__image(style=`background-image: url(${story.imageSrc})`)
    .story__content
        p= story.content
    .story__claps-comments
      if userClap
        img(id="clap-button" class=`${story.id} has-been-clapped` src="../images/clapped.png")
      else
        img(id="clap-button" class=`${story.id}` src="../images/unclapped.png")
      span(id="clap-count")=clapCount
      img(id="comment-button" src="../images/comment.png")
      span=comments.length
    +validationErrorSummary(errors)
    .form.hidden
      form(action=`/stories/${story.id}/comments` method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        .form__inputs
            .form__comment-div
              input(type="text" name="comment" placeholder="Your comment")
            .form__button
              button(type="submit") Post
    .comments__container.hidden
      each comment in comments
        .comments__info
          .comments__pic
            img(class="profile-pic" src=`${comment.User.profilePic}`)
          .comments__name
            a(href=`/users/${story.userId}`)  #{comment.User.firstName} #{comment.User.lastName}
            p(class="comments__timestamp") #{comment.createdAt}
          .comments__content
            p=comment.content
        br
  .footer
    .footer__links
      a(href="https://github.com/rsdimatulac/Veni-Vidi-Voravi")
        i(class="fab fa-github" aria-hidden="true")
