extends layout.pug

include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/story-view.css")
  script(type="text/javascript" src="/javascripts/display-comments.js")

block content
  .nav__container
    div(class="nav__logo")
      a(href="/")
        //- img(src="")
        p LOGO HERE
    div(class="nav__title") Veni, Vidi, Voravi
    div(class="nav__links")
      a(href="/our-story") Our Story
      a(href="/stories/create") Write a Story
      a(href="/welcome") Log Out
      a(href=`/users/${user.id}`) Profile
  .story__container
    .story__title= story.title
    .story__author By #{user.firstName} #{user.lastName}
    .story__image
        img(src=story.imageSrc)
    .story__content
        p= story.content
    .story__claps-comments
      img(src="../images/clap.png")
      span=3
      img(id="comment-button" src="../images/comment.png")
      span=comments.length
    +validationErrorSummary(errors)
    .form.hidden
      form(action=`/stories/${story.id}/comments` method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        .form__inputs
            .form__comment-div
              input(type="text" name="comment" placeholder="Your comment")
            .form__button
              button(type="submit") Post
    .comments__container.hidden
      each comment in comments
        .comments__info
          .comments__pic
            p PICTURE HERE
          .comments__name
            p #{user.firstName} #{user.lastName}
          .comments__content
            p=comment.content
        br
  .footer
    .footer__links
      a(href="https://github.com/rsdimatulac/Veni-Vidi-Voravi")
        i(class="fab fa-github" aria-hidden="true")
