extends layout.pug

include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/story-view.css")
  link(rel="stylesheet" href="/stylesheets/story-navbar.css")
  link(rel="stylesheet" href="/stylesheets/story-create.css")
  link(rel="stylesheet" href="/stylesheets/footer.css")
  link(rel="stylesheet" href="/stylesheets/modal-buttons.css")
  script(type="text/javascript" src="/javascripts/display-comments.js")
  script(type="text/javascript" src="/javascripts/claps.js")
  script(type="text/javascript" src="/javascripts/modals.js")


block content
  include story-navbar.pug
  .story__container
    .story__title= story.title
    //- If you are the loggedIn User, you can see the Edit/Delete Button
    if userId === story.User.id
      .story__button-div
        button(id="modal__button-edit") Edit
        .modal-edit
          .modal-content-edit
            span(class="close-btn-edit")
            //- include story-edit.pug
            .form__container
              .form
                form(action=`/stories/${story.id}/edit` method='post')
                  input(type="hidden", name="_csrf" value=csrfToken)
                  +field('Title', 'title', story.title, "text", "Your title")
                  +field('Title Image', 'titleImage', story.imageSrc, "url", "Your image URL")
                  +field('Body', 'content', story.content, "textarea")
                  .form__button
                    //- You go back to the Viewing that same story
                    a(href=`/stories/${story.id}`) Cancel
                    //- TO FIX: THE Publish takes you back to your Profile
                    button(type='submit' class="publish-button") Publish
        button(id="modal__button-delete") Delete
        .modal-delete
          .modal-content-delete
            span(class="close-btn-delete")
            p Are you sure you want to delete?
            .modal__delete-buttons
              //- you go back to Viewing that story
              a(href=`/stories/${story.id}`) Cancel
              form(action=`/stories/${story.id}/delete` method="post")
                //- TO FIX: THE Publish takes you back to your Profile
                button(type="submit") Delete
    .story__author
      img(id="profile-pic-story" src=`${story.User.profilePic}`)
      a(href=`/users/${story.userId}`)  #{story.User.firstName} #{story.User.lastName}
      if moment(currentDate).diff(story.createdAt, 'years') > 0
        p #{`${moment(currentDate).diff(story.createdAt, 'years')} years ago`}
      else if moment(currentDate).diff(story.createdAt, 'days') > 0
        p #{`${moment(currentDate).diff(story.createdAt, 'days')} days ago`}
      else if moment(currentDate).diff(story.createdAt, 'hours') > 0
        p #{`${moment(currentDate).diff(story.createdAt, 'hours')} hours ago`}
      else
        p #{`${moment(currentDate).diff(story.createdAt, 'minutes')} minutes ago`}
      //- TODO ADD HOW LONG IS THE READ
    .story__image(style=`background-image: url('${story.imageSrc}')`)
    .story__content
        p= story.content
    .story__claps-comments
      if userClap
        img(id="clap-button" class=`${story.id} has-been-clapped` src="../images/clapped.png")
      else
        img(id="clap-button" class=`${story.id}` src="../images/unclapped.png")
      span(id="clap-count")=clapCount
      img(id="comment-button" src="../images/comment.png")
      span=comments.length
    +validationErrorSummary(errors)
    .form.hidden.comment-form
      form(action=`/stories/${story.id}/comments` method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        .form__inputs
            .form__comment-div
              input(type="text" name="comment" placeholder="Your comment")
            .form__button
              button(type="submit") Post
    .comments__container.hidden
      each comment in comments
        .comments__info
          .comments__pic
            a(href=`/users/${comment.User.id}`)
              img(class="profile-pic" src=`${comment.User.profilePic}`)
          .comments__name
            a(href=`/users/${comment.User.id}`)  #{comment.User.firstName} #{comment.User.lastName}
            //- p(class="comments__timestamp") #{moment(comment.createdAt).format('LLLL')}
            if moment(currentDate).diff(comment.createdAt, 'years') > 0
              p #{`${moment(currentDate).diff(comment.createdAt, 'years')} years ago`}
            else if moment(currentDate).diff(comment.createdAt, 'days') > 0
              p #{`${moment(currentDate).diff(comment.createdAt, 'days')} days ago`}
            else if moment(currentDate).diff(comment.createdAt, 'hours') > 0
              p #{`${moment(currentDate).diff(comment.createdAt, 'hours')} hours ago`}
            else
              p #{`${moment(currentDate).diff(comment.createdAt, 'minutes')} minutes ago`}
          .comments__content
            p=comment.content
        br
  include footer.pug
