append head
  link(rel="stylesheet" href="/stylesheets/errors.css")

mixin validationErrorSummary(errors)
  if errors
    div(class="errors")
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text', placeholder = null)
  div(class='form__inputs')
    label(for=fieldName)= labelText
    if fieldType === 'textarea'
      textarea(required id=fieldName name=fieldName class='form__input-field' rows='6' placeholder="Tell your story")= fieldValue
    else
      input(required type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder class='form__input-field')
